h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
.form-group{
    width: 70%;
    padding-left: 7%;
    padding-right: 0%;
    
}
button{
    margin-top: 25px;
    padding-left: 40%;
}
#output{
    padding-top: 30%;
    font-size: xx-large;
    color: chocolate;
    font-family: "Times New Roman", Times, serif;
}